@use "variables";
@use "mixins";
@use "sass:color";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include mixins.fontFamilyAndFontSize(variables.$font-text, 1rem);
}

h1, h2, h3, h4, h5, h6 {
  @include mixins.fontFamilyAndFontSize(variables.$font-title, 2rem);
}

.dark-mode {
  @include mixins.backgroundColorAndTextColor(variables.$dark-body-bg, variables.$dark-text);

  body {
    @include mixins.backgroundColorAndTextColor(variables.$dark-body-bg, variables.$dark-text);
  }

  .tv-search-results {
    &::-webkit-scrollbar-thumb {
      background-color: variables.$dark-card-bg;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: color.adjust(variables.$dark-card-bg, $lightness: -10%);
    }
  }
}

.light-mode {
  @include mixins.backgroundColorAndTextColor(variables.$light-body-bg, variables.$light-text);

  body {
    @include mixins.backgroundColorAndTextColor(variables.$light-body-bg, variables.$light-text);
  }

  .tv-search-results {
    &::-webkit-scrollbar-thumb {
      background-color: variables.$light-card-bg;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: color.adjust(variables.$light-card-bg, $lightness: -10%);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: variables.$light-button-text;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$light-card-bg;
}

::-webkit-scrollbar-thumb:hover {
  background-color:  color.adjust(variables.$light-card-bg, $lightness: -10%);
}
