.github/
.idea/
.vscode/
coverage/
tests/
node_modules/

src/
public/
index.html

.eslintrc*
.prettierrc
babel.config.js
jest.config.js
vite.config.ts
vite.config.js
tsconfig.json

package-lock.json
pnpm-lock.yaml
yarn.lock
*.log

dist/favicon.ico
